@tailwind base;
@tailwind components;
@tailwind utilities;

.ek-team-area .team-holder {
    box-shadow: 0 5px 40px rgba(29, 27, 76, .15);
    transition: all 200ms linear 0ms;
    @apply bg-white
}

.ek-team-area .team-wraper {
    transition: all 300ms linear 0ms;
}

.ek-team-area .team-wraper:hover .team-holder {
    background: #0e0e0e;
    @apply pt-[20px] pb-[22px]
}

.ek-team-area .team-title {
    color: #1d1b4c;
}

.ek-team-area .team-wraper:hover .team-title {
    @apply text-white
}

.ek-team-area .team-position span {
    color: #c1282a;
}

.ek-team-area .team-description span {
    color: #c1c1c6;
}

.ek-team-area .social-item a {
    color: #5e6877;
    transition: all 300ms linear 0ms;
}

.ek-team-area .social-item a:hover {
    @apply text-white;
}

.ek-team-area .team-meta {
    transition: all 300ms linear 0ms;
    display: none;
    opacity: 0;
}

.ek-team-area .team-wraper:hover .team-meta {
    display: block;
    opacity: 1;
}